@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --main-background: #0b0c0f;
    --main-fonts-color: #fff;
    --main-decor-color: #00a9e2ea;
    --main-header-background: #21252e;
    --main-font-family: 'Poppins', sans-serif;
}
body {
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

main {
    padding: 0;
    width: 100%;
    height: 100%;
    background: var(--main-background);
}

.overlay {
    position: fixed;
    opacity: 0.7;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

/*────────────────── 
       header
──────────────────*/

header {
    margin: 0 auto;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: transparent;
    position: fixed;
    top: 0;
    transition: 0.3s;
    z-index: 1;
}
.nav-show {
    opacity: 1;
}

.logo img {
    padding-top: 5px;
    height: 50px;
    cursor: pointer;
}

.nav-bar {
    list-style: none;
    position: relative;
    display: inline-flex;
}

nav {
    margin-right: 5%;
}

a.nav-link {
    margin: 2px;
    padding: 5px 10px;
    text-decoration: none;
    color: var(--main-fonts-color);
    font-family: var(--main-font-family);
    cursor: pointer;
    text-transform: uppercase;
    transition: color 0.4s ease-in-out, background 0.4s ease-in-out;
}

.active {
    background: var(--main-decor-color);
}

.nav-link:hover {
    color: #000000;
    background: var(--main-decor-color);
}

/*──────────────────
       home
──────────────────*/

#home {
    margin: auto;
    min-height: 60vh;
    color: var(--main-fonts-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#home .filter {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.2;
}

.intro {
    text-align: center;
    color: var(--main-fonts-color);
    margin-top: 50px;
    padding: 20px;
}

.intro,
p,
h3 {
    font-size: 1.2rem;
    font-family: var(--main-font-family);
    text-align: center;
    color: var(--main-fonts-color);
}

h1,
h2 {
    letter-spacing: normal;
    font-family: var(--main-font-family);
    font-style: normal;
    font-size: 60px;
    color: var(--main-fonts-color);
    text-shadow: 0px 0px 40px var(--main-decor-color);
    text-align: center;
}

.headline {
    font-size: 35px;
    color: var(--main-fonts-color);
}

.summary {
    width: 80%;
}

.about {
    min-height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/*──────────────────
    social media
──────────────────*/

.social-media {
    padding: 10px;
    display: flex;
    position: center;
    align-items: space-around;
    justify-content: center;
}

.social-media a {
    margin: 10px;
    font-size: 2rem;
    text-align: center;
    display: inline-block;
    color: var(--main-fonts-color);
    transition: color 0.4s ease-in-out;
}

.social-media a i {
    cursor: pointer;
}

.social-media a:hover {
    color: var(--main-decor-color);
    text-shadow: 0 0 50px var(--main-decor-color);
}

/*──────────────────
      projects
──────────────────*/

#projects {
    margin-top: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--main-fonts-color);
}
#projects h3 {
    padding-top: 70px;
}
#projects p {
    font-family: var(--main-font-family);
    font-size: 1.2rem;
    padding: 10px;
}

.work {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 200px;
    height: 250px;
    border-radius: 5px;
    background: #47bae03f;
    transition: background 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    z-index: 0;
    overflow: hidden;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0px 0px;
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.4s ease-in-out, transform 0.7s ease;
    z-index: 1;
}

.img-frame {
    width: 100%;
    height: 70%;
    overflow: hidden;
}

.card img:hover {
    opacity: 1;
    transform: scale(1.1);
}

.card .work-content {
    text-align: center;
    padding: 10px 5px;
    font-size: 1rem;
    color: var(--main-fonts-color);
    font-family: var(--main-font-family);
    cursor: pointer;
}

.work-content {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card a {
    text-decoration: none;
}

.work-content:hover {
    color: #202020;
    background: var(--main-decor-color);
}

.card:hover {
    box-shadow: 0 0 1.5rem rgba(128, 128, 128, 0.616);
    background: var(--main-decor-color);
    transform: scale(1.5);
}

/*──────────────────
      Contact
──────────────────*/

#contact {
    position: relative;
    margin-top: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--main-fonts-color);
}

#contact p {
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--main-font-family);
}

.contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bd-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

.contact__input {
    width: 30%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 3px solid #47bae03f;
    background: transparent;
    outline: none;
    margin-bottom: 1rem;
    color: white;
    font-family: var(--main-font-family);
    transition: border 0.4s ease-in-out;
}

.contact__input:focus {
    border: 3px solid var(--main-decor-color);
    background-color: transparent;
}

.button {
    background-color: transparent;
    font-family: var(--main-font-family);
    color: white;
    padding: 5px 10px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2rem;
    transition: color 0.4s ease-in-out, background 0.4s ease-in-out;
}

.button:focus {
    outline: none;
    border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    border: 3px solid var(--main-decor-color);
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
    transition: background-color 5000s ease-in-out 0s;
}

.confirm {
    visibility: hidden;
}

.msg {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*────────────────── 
       footer
──────────────────*/

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    background-color: var(--main-header-background);
    color: #fff;
    letter-spacing: 1px;
}

.copyright {
    margin-left: 2.5%;
    font-family: var(--main-font-family);
}

/*──── hr ─────*/

hr {
    background: var(--main-decor-color);
    margin: 2px;
    height: 3px;
    width: 70%;
    border-radius: 5px;
    border: hidden;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

/*────────────────── 
     Scrollbar
──────────────────*/
::-webkit-scrollbar {
    width: 5px;
    background: rgba(5, 5, 5, 1);
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #47bae03f;
    box-shadow: inset 0 0 20px #47bae03f;
}
::-webkit-scrollbar-track {
    margin-top: 80px;
    border-radius: 10px;
}

/*────────────────── 
     hamburger
──────────────────*/
.hamburger {
    display: none;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background: #dbdbdb;
    margin: 5px;
    transition: all 0.3s ease;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/*────────────────── 
    modals
──────────────────*/

.modals {
    position: fixed;
    height: 90%;
    width: 80%;
    top: 5%;
    left: 10%;
    border: 4px solid var(--main-decor-color);
    border-radius: 8px;
    z-index: 3;
    box-shadow: 0 0 1.5rem gray;
    background: var(--main-background);
    visibility: hidden;
    overflow: hidden;
}

.modal {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    object-fit: cover;
}

.close-modal {
    color: white;
    float: right;
    right: 2%;
    top: 2%;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    z-index: 3;
    visibility: hidden;
    transition: transform 0.3s ease-in-out;
}

.close-modal:hover {
    transform: scale(1.3);
}

.modal-video {
    height: 50%;
    width: 80%;
}

.tags {
    margin-right: 10px;
    margin-top: 1%;
}

.tag {
    height: 40px;
    padding: 5px 10px;
    min-width: 50px;
    background: #47bae03f;
    border-radius: 5px;
    color: white;
    margin-left: 10px;
    font-family: var(--main-font-family);
}

.modal-nav {
    list-style: none;
    display: inline-flex;
    margin-top: 1%;
}

.modal-br {
    height: 1px;
    width: 70%;
}

.description {
    margin-top: 1%;
    width: 90%;
}

.open {
    padding-left: 5px;
    margin-bottom: 10px;
}

.prev-btn {
    transform: scale(2);
    position: absolute;
    top: 49%;
    left: 3%;
    color: white;
    z-index: 5;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.next-btn {
    transform: scale(2);
    position: absolute;
    top: 49%;
    right: 3%;
    color: white;
    z-index: 5;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.prev-btn:hover,
.next-btn:hover {
    transform: scale(3);
}

.modal-slider {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translatex(50px);
    }
    to {
        opacity: 1;
        transform: translatex(0px);
    }
}

/*────────────────── 
    media queries
──────────────────*/

@media only screen and (max-width: 1484px) and (min-width: 1214px) {
    .work {
        padding: 20px 20%;
    }
}
@media only screen and (max-width: 1214px) and (min-width: 1000px) {
    .work {
        padding: 20px 12%;
    }
}
@media only screen and (max-width: 960px) {
    body {
        overflow: scroll;
    }

    h1,
    h2 {
        font-size: 3rem;
    }

    .headline {
        font-size: 1.5rem;
    }

    .social-media a {
        font-size: 1.5rem;
    }

    .intro {
        margin-top: 50px;
    }
    .summary {
        font-size: 0.8rem;
    }
    .hamburger {
        position: absolute;
        top: 17px;
        right: 2%;
        display: block;
        cursor: pointer;
    }
    .nav-bar {
        position: fixed;
        top: 0px;
        right: 0;
        width: 30%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background: var(--main-header-background);
        transform: translatex(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-bar li {
        opacity: 0;
    }
    header {
        z-index: 2;
    }
    h1,
    h2 {
        font-size: 2.5rem;
    }

    .modals {
        width: 90%;
        left: 5%;
    }
    .close-modal {
        position: absolute;
        font-size: 20px;
        right: 2%;
        top: 2%;
    }
    .contact__input {
        width: 50%;
        padding: 10px;
    }
}

@media only screen and (min-width: 1680px) {
    #home {
        height: 70vh;
    }

    .about {
        min-height: 30vh;
    }

    .work-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .work {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 40px;
    }
}

@media only screen and (max-width: 500px) {
    #home,
    #projects,
    #contact {
        overflow-x: hidden;
    }

    #projects {
        height: auto;
    }

    .summary {
        font-size: 0.8rem;
        /* margin-left: 5%; */
        width: 90%;
    }

    .headline {
        font-size: 1.5rem;
    }

    .social-media a {
        font-size: 1.5rem;
    }

    header {
        background-color: transparent;
    }
    .logo {
        position: absolute;
        top: 2px;
        left: 30px;
    }
    .nav-show {
        opacity: 1;
    }
    .nav-bar {
        width: 60%;
    }

    hr {
        width: 180px;
    }

    .contact__input {
        width: 70%;
        padding: 10px;
    }

    .copyright a {
        margin-left: 25px;
    }

    .modal-video {
        height: 40%;
    }

    .description {
        font-size: 0.8rem;
    }

    .tag {
        padding: 2px 4px;
    }

    .prev-btn,
    .next-btn {
        transform: scale(1);
    }
    .prev-btn:hover,
    .next-btn:hover {
        transform: scale(1);
    }

    .close-modal:hover {
        transform: scale(1);
    }
    .work-box {
        margin-top: 10px;
    }
    .msg {
        width: 100px;
    }
}

.nav-active {
    transform: translatex(0%);
}
